.Container {  
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.Logo-Container {
  z-index: 1;
  display: flex;
  position: relative;
  width: 70%;
  transform: translate(15%, 25px);
}

.Description-Container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 3%;
  top: 20%;
  color: white;
  text-align: end;
}

@media only screen and ( max-width: 425px ) {
  .Logo-Container {
    width: 45%;
    transform: translate(3%, 30px);
  }
}
@media only screen and ( max-width: 768px ) {
  .Logo-Container {
    width: 45%;
    transform: translate(3%, 30px);
  }
}
@media only screen and ( min-width: 768px ) {
  .Logo-Container {
    transform: translate(10%, 60px);
    width: 55%;
  }
}
@media only screen and ( min-width: 1024px ) {
  .Logo-Container {
    transform: translate( 5%, 65px);
  }
}