*{
  padding: 0;
  margin: 0;
}

.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
}

.Slide-Container {
 display: flex;
 flex-direction: row;
}

.Burguer {
  left: 100%;
  width: 100%;
  position: absolute;
  z-index: -2;
  animation: all 1s ease;
}

.Burguer.active {
  z-index: -1;
  left: 0;
  animation: ativar 1s ease;
}

.Burguer.active.desactive {
  z-index: -1;
  right: 100%;
  animation: desativar 1s ease-in-out;
}

.Animated-Div{
  position: absolute;
  margin-top: 10%;
  width: 50%;
}

@keyframes ativar {
  0%{
    opacity: 0;
    left: 100%;
  }
  70%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    left: 0;
  }
}
@keyframes desativar {
  0%{
    opacity: 1;
    left: 0;
  }
  70%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    left: -100%;
  }
}