.Container {  
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
}

.Slide-Container {
  height: 62.5vw;
  overflow-x: hidden;
  position: absolute;
  width: 100%;
}

.Burguer {
  left: 100%;
  width: 100%;
  position: absolute;
  z-index: -2;
  animation: all 1s ease;
}

.Burguer.active {
  z-index: 0;
  left: 0;
  animation: ativar 1s ease;
}

.Burguer.active.desactive {
  z-index: -1;
  right: 100%;
  animation: desativar 1s ease-in-out;
}

.Logo-Container {
  z-index: 1;
  display: flex;
  position: relative;
  width: 70%;
  transform: translate(15%, 25px);
}

@keyframes ativar {
  0%{
    opacity: 0;
    left: 100%;
  }
  70%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    left: 0;
  }
}
@keyframes desativar {
  0%{
    opacity: 1;
    left: 0;
  }
  70%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    left: -100%;
  }
}

@media only screen and ( max-width: 425px ) {
  .Logo-Container {
    width: 50%;
    transform: translate(15%, 40px);
  }
}
@media only screen and ( min-width: 768px ) {
  .Logo-Container {
    transform: translate(10%, 60px);
    width: 55%;
  }
}
@media only screen and ( min-width: 1024px ) {
  .Logo-Container {
    transform: translate( 5%, 65px);
  }
}