
.Description-Container .Title {
  font-family: 'Alfa Slab One';
  font-size: 4vw;
}
.Description-Container .Title.below {
  margin-top: 15px;
}
.Description-Container .Sub-Title {
  font-family: 'Cormorant Garamond';
  font-weight: 600;
  font-size: 2vw;
}

@media only screen and ( max-width: 425px ) {
  .Description-Container .Title {
    font-size: 5vw;
  }
  .Description-Container .Sub-Title {
    font-weight: bold;
    font-size: 3.5vw;
    max-width: 180px;
  }
}
@media only screen and ( max-width: 768px ) {
  .Description-Container {
    max-width: 300px;
  }
}