.Products-Container {
  position: relative;
  top: 10px;
  width: 100%;
  overflow-y: hidden;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.Categories-Container {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  align-self: center;
}

.Categories-Ico-Container {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Categories-Container .Categories-Ico {
  width: 10%;
}

.Products-Container .Highlighter {
  position: relative;
  top: 0;
  bottom: 0;
  width: 0vw;
  height: 2px;
  max-width: 76px;
  max-height: 76px;
  border-radius: 2px;
  left: 40%;
  z-index: -1;
  background: rgb(30, 30, 30);
  transition: all 500ms ease;
}

.Products-Container .Highlighter.burguer {
  width: 20%;
  left: 17.5%; /* 12% 40% 68%*/
}
.Products-Container .Highlighter.burguer.expand {
  width: 20%;
  height: 10vw;
  left: 17.5%;
  border-radius: 5vw;
  top: -48%;
}
.Products-Container .Highlighter.baverages {
  width: 20%;
  left: 45%; /* 12% 40% 68%*/
}
.Products-Container .Highlighter.baverages.expand {
  width: 20%;
  height: 10vw;
  left: 45%;
  border-radius: 5vw;
  top: -48%;
}
.Products-Container .Highlighter.fries {
  width: 20%;
  left: 72.5%; /* 12% 40% 68%*/
}
.Products-Container .Highlighter.fries.expand {
  width: 20%;
  height: 10vw;
  left: 72.5%;
  border-radius: 5vw;
  top: -48%;
}

@media only screen and ( max-width: 425px ) {
  .Products-Container .Highlighter {
    max-width: 10%;
  }
}